.Box-Grid{
    display: grid;

    grid-template-columns: 20vh 120vh 20vh;
    grid-template-rows: 1fr 1fr 1fr 3fr 4fr 1fr;
    
    background-color: #DF0AED;

    gap: 10px;
}

#Rubrik{
    display: flex;

    flex-direction: row;

    grid-column: 2/3;
    grid-row: 1/2;

    background-color: #7465F5;

    font-size: 23px;
}

nav{
    display: flex;

    flex-direction: row;
    justify-content: space-around;

    align-items: center;

    grid-column: 2/3;
    grid-row: 2/3;

    font-size: 20px;
}

#potatismos{
    display: flex;

    flex-direction: row;

    min-width: 18%;
    height: 30%;

    font-size: 30px;

    background-color: #F4F164;
}




a:visited{
    color: black;
}

a{
    text-decoration: none;
}